
<div class="about-container">
  <div data-aos="fade-up-left">
    <p class="text-xl md:text-5xl mb-9">Helping brands thrive in the digital world</p>
    <div class="line"></div>
  </div>
</div>

<div data-aos="flip-left">
  <div class="contacts-media">
    <div class="content-container">
      <div class="about-me">
        <div class="flex items-center mb-8 md:mb-5">
          <img src="assets/bannerdiogo.jpg" alt="Sua Foto" class="rounded w-48 h-48 md:w-64 md:h-64 lg:w-80 lg:h-80 mr-8 md:mr-12">
          <div>
            <p class="mb-4">I am a relaxed, proactive, and hardworking individual, always eager to learn. I have experience in both front-end and back-end development and I´m open to any type of professional challenge.</p>
            <ul>
              <li>Birthday: July 15, 1999</li>
              <li>Email: diogosousain&#64;gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="download-cv hover:animate-pulse">
          <a href="assets/Diogo%20Sousa%20CV%20ING.pdf" download>Download CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <h2 class="flex justify-center">Social Media</h2>
<div>
  <ul class="social-icons">
    <li>
      <a href="https://www.facebook.com/diogopereira.sousa"><i class="fab fa-facebook-f icon"></i></a>
    </li>
    <li>
      <a href="https://github.com/diogosousainf"><i class="fab fa-github icon"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/diogo-sousa-6322b5159/"><i class="fab fa-linkedin-in icon"></i></a>
    </li>
  </ul>
</div>
