<body id="about">
<div class="about-container" >
  <div class="about-details">
    <p class="text-xl md:text-7xl mb-12">Helping brands thrive
      in the digital world
    </p>
    <div class="line">

    </div>

    <div class="skills ">
      <div class="backend">
        <h2>Back End </h2>
        <ul>
          <li class="hover:bg-gray-100 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">Laravel</li>
          <li class="hover:bg-gray-100 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">ASP.NET</li>
          <li class="hover:bg-gray-100 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">Node.js</li>
          <li class="hover:bg-gray-100 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">SQL</li>
        </ul>
      </div>

      <div class="frontend">
        <h2>Front End</h2>
        <ul>
          <li class="hover:bg-gray-100 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">Angular</li>
          <li class="hover:bg-gray-100 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">TypeScript</li>
          <li class="hover:bg-gray-100 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">JavaScript</li>
          <li class="hover:bg-gray-100 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">HTML & CSS</li>
        </ul>
      </div>
    </div>

    <h2>Social Media</h2>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/diogo-sousa-6322b5159/" target="_blank">LinkedIn</a>
      <a href="https://github.com/diogosousainf" target="_blank">GitHub</a>
    </div>
  </div>
</div>

</body>
