<body>
<div class="about-container">
  <div class="about-image">
    <img src="https://avatars.githubusercontent.com/u/139590885?v=4" alt="Profile Photo">
  </div>
  <div class="about-details">
    <h1>About Me</h1>
    <p>A passionate software and web developer with a strong dedication to learning and exploring new technologies. Currently balancing work in the kayak industry and pursuing advanced programming studies at ATEC Academy.</p>

    <div class="skills">
      <div class="backend">
        <h2>Back End Technologies</h2>
        <ul>
          <li>Laravel</li>
          <li>ASP.NET</li>
          <li>Node.js</li>
          <li>SQL </li>
        </ul>
      </div>

      <div class="frontend">
        <h2>Front End Technologies</h2>
        <ul>
          <li>Angular</li>
          <li>TypeScript</li>
          <li>JavaScript</li>
          <li>HTML & CSS</li>
        </ul>
      </div>
    </div>

    <h2>Social Media</h2>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/diogo-sousa-6322b5159/" target="_blank">LinkedIn</a>
      <a href="https://github.com/diogosousainf" target="_blank">GitHub</a>
    </div>
  </div>
</div>

</body>
