<div class="container">
  <h2>Add New Project</h2>
  <form (ngSubmit)="addProject()">
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="description" name="description" required></textarea>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image URL</label>
      <input type="text" class="form-control" id="image" [(ngModel)]="image" name="image" required>
    </div>
    <div class="mb-3">
      <label for="link" class="form-label">Link</label>
      <input type="text" class="form-control" id="link" [(ngModel)]="link" name="link" required>
    </div>
    <button  type="submit" class="btn btn-primary" >Add Project</button>
    <button type="button" class="btn btn-secondary" (click)="clearFields()">Clear Fields</button>
  </form>
</div>
