<div class="relative min-h-screen bg-cover" style="background-image: url('assets/fundoPortefolio.jpg');">
  <nav class="absolute top-0 left-0 right-0 p-6 flex justify-between items-center bg-transparent">
    <div class="text-white text-2xl md:text-3xl ">Diogo Sousa</div>
    <ul class="flex space-x-6">
      <li><a href="#home" class="text-white hover:text-gray-300 aa">Home</a></li>
      <li><a href="#about" class="text-white hover:text-gray-300">About</a></li>
      <li><a routerLink="/projects" class="text-white hover:text-gray-300">Projects</a></li>
      <li><a href="#contact" class="text-white hover:text-gray-300">Contact</a></li>
    </ul>
  </nav>
</div>


<!--https://dennissnellenberg.com/-->
