html, body {
  width: 100%;
  height: 100%;
  font-family: 'neue-montreal', sans-serif;
  position: relative;
}

body {
  font-family: 'neue-montreal', sans-serif;
}

@keyframes text-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.min-h-screen {
  min-height: 100vh;
}

.hover-portfolio {
  position: relative;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  color: white;
  font-family: 'neue-montreal', sans-serif;
}

.hover-portfolio::after {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  transition: color 0.5s ease-in-out;
  text-align: center;
  line-height: 1;
  font-family: 'neue-montreal', sans-serif;
}

.hover-portfolio:hover::after {
  color: #f4f4ec;
}

.hover-portfolio:hover {
  color: transparent;
}

/* Animação de hover dos links da navegação */
nav ul li a {
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

p {
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

p::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

p:hover::before {
  transform: scaleX(1);
}

img {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #252424;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.1) rotate(360deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  img {
    width: 10rem; /* Adjust size for smaller screens */
    height: 10rem; /* Adjust size for smaller screens */
  }
}
@media (min-width: 769px) {
  img {
    width: 15rem; /* Adjust size for medium screens */
    height: 15rem; /* Adjust size for medium screens */
  }
}

@media (min-width: 1024px) {
  img {
    width: 20rem; /* Adjust size for larger screens */
    height: 20rem; /* Adjust size for larger screens */
  }
}

@keyframes text-entrance {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.text-2xl , .text-xl, svg, .text-lg , .navlinks{
  opacity: 0;
  animation: text-entrance 0.8s ease-out forwards;
  animation-delay: 0.1s;

}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
img {
  opacity: 0;
  animation: slide-up 0.8s ease-out forwards;
  animation-delay: 0.1s;
}


@keyframes icon-bounce {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.svg-icon {
  animation: icon-bounce 1s ease-out 0.5s forwards;
}
